nav {
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    gap: 20px;
}

nav a {
    font-size: 20px;
    color: aqua;
}

@media screen and (max-width:600px) {
    nav {
        background-color: red;
        flex-direction: column;
        height: auto;
    }
}